* {
    padding:0;
    margin:0;
}

#wrapper {
    border:solid;
}

#header {
    height:100px;
    background-color: #004747;
}

#banner{
    height:400px;
    background-color: #cccccc;
}

#circle-container{
    /* border:#7094bb solid;     */
    width:88%;
    margin:70px auto;   
}

#grid-container::after,
#circle-container::after 
  {
    content:" ";
    display: block;  
    clear: both;  
}

.circle {
    height:250px;
    width: 250px;
    background-color: #b8b894;
    -moz-border-radius:200px;
    border-radius: 200px;
    float:left;
    margin-left: 93px;
}

#grid-container {
    border : purple solid;
    width: 88%;
    margin:0 auto;
}

.box {
    height:150px;
    width:348px;
    background-color: #006b6b;
    float: left;
    margin: 10px;
}

#footer {
    height:200px;
    background-color: #4d4d4d;
    margin-top:70px;
}
